body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(https://images.unsplash.com/photo-1486882430381-e76d701e0a3e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.7fr 1.1fr 1fr 1fr 1fr; */
    /* border-radius: 1rem;
    height: 350px;
    width: 300px;
    overflow: scroll; 
*/ } 

.card {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 5px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1.2fr 0.7fr 1.1fr 1fr 1fr 1fr; */
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255,255,255,0.0);
    box-shadow: 5px 15px 30px -10px rgba(0, 0, 0, 0);
}




.card:hover{
    transform:(1.1);
}


.avatar img{
    width: 100%;
    /* height: 200px; */
    display: block;
    border-radius: 10px;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.name  {
    color: black;
    list-style: none;
    font-size: 18px;
    text-align: left;
    margin-left: 13px;
    text-shadow: 0 1px 5px white;
}

.description {
    color: white;
    list-style: none;
    font-size: 13px;
    text-align: left;
    margin-left: 13px;
    text-shadow: 0 1px 5px white;
}

.location {
    color: black;
    list-style: none;
    font-size: 18px;
    text-align: left;
    margin-left: 13px;
    text-shadow: 0 1px 5px white;
}

.details {
    width: 25%;
    height: 25%;
}

.Tagline{
    color: black
}

.new_Gym {
    color: black
}

input,
button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    color: white
}

.details_container{
    padding: 5px 15px;
    background-color: white;
    color:black
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: black;
}

