body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(https://images.unsplash.com/photo-1576443612738-fd8a5a1c2ae3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
}

.business_container {
    background-color: rgba(0,0,0,0.5);
    opacity: 0.8;
    backdrop-filter: blur(13px);
    border: 2px solid rgba(255,255,255,0.2);
    box-shadow: 5px 15px 30px -10px rgba(0, 0, 0, 0)
}

.card{
    border-radius: 1rem;
    height: 350px;
    width: 300px;
    overflow: scroll;
}

.business_container:hover{
    transform:(1.1);
}


.avatar img{
    height: 200px;
    border-radius: 10px;
}

.avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.name,.description,.location {
        color: white;
        list-style: none;
        font-size: 13px;
        text-align: left;
        margin-left: 13px;
        text-shadow: 0 1px 5px white;
}

.details {
    width: 25%;
    height: 25%;
}

.Tagline{
    color: white
}

.new_Gym {
    color: white
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.details_container{
    padding: 5px 15px;
    background-color: white;
    color:black
}